{% extends 'base.html.twig' %}

{% block title %}Admin-Songs{% endblock %}

{% block body %}

<div class="example-wrapper">
   {% for data in myData %}
                    <div class="swiper-slide" data-id="{{ data.categoryId }}">
                        <img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" id="homeCategoryImage">
                        <h1 id="homeCategoryName">{{ data.categoryName }}</h1>
                    </div>
                {% endfor %}

    <div class="admin_title">
        <h1>Titre Category</h1>
        {{ include('category/show.html.twig') }}
    </div>
    <div class="admin_show_songs">
        show songs de la category
        <h4>Artiste</h4>
        <h5>Titre</h5>
    </div>

{% endblock %}