{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="admin_title">
		<h3 id="admin_display_mid">Titres les plus likés</h3>
	</div>

	{# {{ include('favorite/index.html.twig') }} #}
	<table id="admin_favori_display">
	{% for topFavorite in topFavorites %}
			<tr class="line">
				<td><img src="{{ asset('/img/albums/' ~ topFavorite.image) }}" width="140px" height="120px" id="admin_favori_img" class="admin_favori_margin" alt="{{ topFavorite.artist }}"></td>
				<td><h5 class="p-2">{{ topFavorite.artist }}</h5></td>
				<td><h5 class="p-2">{{ topFavorite.title }}</h5></td>
				<td><h5 class="p-2">{{ topFavorite.count }}</h5></td>
				<td><h5 class="p-2"><i class="fa fa-heart" id="admin_heart_fa" style="font-size:36px"></i></h5></td>
			</tr>
	{% endfor %}
	</table>
</div>
<div class="admin_category">
	<h3>CATEGORIES</h3>
	<a href="{{ path('app_category_new') }}">
		<i class="fa fa-plus" id="admin_plus_icon" style="font-size:36px"></i>
	</a>
</div>

{{ include('category/show.html.twig') }}</div>{% endblock %}
