{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<section id="swiperAndList">
		<div class="swiper-container" data-mydata="{{ myData|json_encode|raw }}">
			<div class="swiper-wrapper">
				{% for data in myData %}
					<div class="swiper-slide" data-id="{{ data.categoryId }}">
						<img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" id="homeCategoryImage">
						<h1 id="homeCategoryName">{{ data.categoryName }}</h1>
					</div>
				{% endfor %}
			</div>
		</div>

		<ul id="song-list"></ul>
	</section>
{% endblock %}
