{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block body %}

	<section id="swiperAndList">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for data in myData %}
					<div class="swiper-slide" data-id="{{ data.categoryId }}">
						<img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" id="homeCategoryImage">
						<h1 id="homeCategoryName">{{ data.categoryName }}</h1>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="songListContainer">
			<table id="home-song-list"></table>
		</div>


		<div id="authenticated-status" data-authenticated="{{ isUserConnected }}"></div>


	</section>
{% endblock %}
