{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1 id=""> Songs de la categorie
    {# {{category.name}}  #}
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.url }}</td>
                <td>
                    <a href="{{ path('app_song_show', {'id': song.id}) }}"><strong>show</strong></a>
                    <a href="{{ path('app_song_edit', {'id': song.id}) }}"><strong>edit</strong></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_song_new') }}"><strong>Create new</strong></a>
{% endblock %}
