{% extends 'base.html.twig' %}

{% block title %}Favoris
{% endblock %}

{% block body %}
	<div id="containerh2">
		<h2>Ma playlist</h2>
	</div>
	<a id="previous-page-btn" href="{{app.request.headers.get('referer')}}">
		<i class="bi bi-arrow-left"></i>
	</a>

	<div id="favoriteList">
		<table class="table">
			{% for favorite in favorites %}
				<tr id="trFavorite">
					<td class="tdFavoriteList">
						<img id="favoriteImage" src="{{ asset('img/albums/' ~ favorite.image) }} ">
					</td>
					<td class="tdFavoriteList">
						<h4>{{favorite.artist}}</h4>
					</td>
					<td class="tdFavoriteList">
						<h5>{{favorite.title}}</h5>
					</td>
					<td class="tdFavoriteList">
						<a href="{{ path('app_player_show', {'id': favorite.id, 'category_id': favorite.category}) }}">
							<i class="bi bi-play-fill" id="btnPlayerFavorite"></i>
						</a>
					</td>
					<td class="tdFavoriteList">
						{{ include('favorite/_delete_form.html.twig') }}
					</td>
				</tr>
			{% endfor %}

		</table>
	</div>
{% endblock %}
