{% extends 'base.html.twig' %}

{% block title %}Favorite index
{% endblock %}

{% block body %}
	<div id="containerh2">
		<h2>Ma playlist</h2>
	</div>
	<a id="previous-page-btn" href="{{app.request.headers.get('referer')}}">
		<i class="bi bi-arrow-left"></i>
	</a>

	<div id="favoriteList">
		<table class="table">
			{% for favorite in favorites %}
				<tr id="trFavorite">
					<td class="tdFavoriteList">
						<img id="favoriteImage" src="{{ asset('img/albums/' ~ favorite.image) }} ">
					</td>
					<td class="tdFavoriteList">
						<h4>{{favorite.artist}}</h4>
					</td>
					<td class="tdFavoriteList">
						<h5>{{favorite.title}}</h5>
					</td>
					<td class="tdFavoriteList">
						<a href="{{ path('app_player_show', {'id': favorite.id, 'category_id': favorite.category}) }}">
							<i class="bi bi-play-fill" id="btnPlayerFavorite"></i>
						</a>
					</td>
					<td class="tdFavoriteList">
						<form method="post" id="formDeleteFavorite" action="{{ path('app_favorite_delete', {'id': favorite.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir retirer cette musique de vos favoris ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favorite.id) }}">
							<i class="bi bi-trash-fill" id="btnTrashFavorite"></i>
						</form>
					</td>
				</tr>
			{% endfor %}

		</table>
	</div>
{% endblock %}
