{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div id="containerh2">
		<h2>Mon profil</h2>
	</div>

	{# <a id="previous-page-btn" href="/app_user_index">
			<i class="bi bi-arrow-left"></i>
		</a> #}

	<div id="containerProfil">

		<div class="elementsProfil">
			<label>Nom</label>
			<p class="formProfilInformations">{{ user.firstName }}</p>
		</div>
		<div class="elementsProfil">
			<label>Prénom</label>
			<p class=" formProfilInformations">{{ user.lastName }}</p>
		</div>
		<div class="elementsProfil">
			<label>Email</label>
			<p class="formProfilInformations">{{ user.email }}</p>
		</div>
		<div class="elementsProfil">
			<label>Mot de passe</label>
			<p class="formProfilInformations">{{ user.password }}</p>
		</div>
	</div>

	<td>
		<a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
	</td>
</tr>{% endblock %}
