{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur
{% endblock %}

{% block body %}

	<div id="containerh2">
		<h2>Mon profil</h2>
	</div>

	<div id="containerPageProfil">
		<div id="containerProfil">

			<div class="elementsProfil">
				<label>Nom</label>
				<p class="formProfilInformations">{{ user.firstName }}</p>

				<label>Prénom</label>
				<p class=" formProfilInformations">{{ user.lastName }}</p>

				<label>Email</label>
				<p class="formProfilInformations">{{ user.email }}</p>
			</div>
		</div>

		<div id="btnUpdateProfil">
			<button id="btnModifyUser">
				<a href="{{ path('app_user_edit', {'id': user.id}) }}" id="btnValidateModifyProfil">Modifier</a>
			</button>
		</div>
		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
